CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

#clang-foramt cache file
.cache/

# mac special file
.DS_Store

# default build path
build
build_dir

# vscode settings
.vscode

# download path
download
